{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load custom_filters %}

{% block head %}
<style>
/*TODO: move to single CSS*/
.form-one > select, .form-two > select, .form-two > input, .form-one  > input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}
.form-one > input[type="checkbox"] {
    height: 36px;
}
input[disabled] {
    cursor: default;
    background: #FBFBFB;
}
</style>
{% endblock %}


{% block head_title %}
Checkout
{% endblock %}


{% block css %}
{% endblock %}

{% block "body" %}

<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->

    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>
    <!-- <div class="checkout-options">
      <h3>New User</h3>
      <p>Checkout options</p>
      <ul class="nav">
        <li>
          <label><input type="checkbox"> Register Account</label>
        </li>
        <li>
          <label><input type="checkbox"> Guest Checkout</label>
        </li>
        <li>
          <a href=""><i class="fa fa-times"></i>Cancel</a>
        </li>
      </ul>
    </div> -->
    <!--/checkout-options-->
<!--
    <div class="register-req">
      <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
    </div> -->
    <!--/register-req-->

    <div class="shopper-informations">
      <div class="row">
        <!-- <div class="col-sm-3">
          <div class="shopper-info">
            <p>Shopper Information</p>
            <form>
              <input type="text" placeholder="Display Name">
              <input type="text" placeholder="User Name">
              <input type="password" placeholder="Password">
              <input type="password" placeholder="Confirm password">
            </form>
            <a class="btn btn-primary" href="">Get Quotes</a>
            <a class="btn btn-primary" href="">Continue</a>
          </div>
        </div> -->
        <form method="POST" >
        <div class="col-sm-5 clearfix">
          <div class="bill-to">
            <p>Shipping address</p>
            <div class="form-one">
                {% include "shop/snippets/theme_form.html" with form=shipping_form %}
            </div>
        </div>
      </div>

      <div class="col-sm-5 clearfix">
        <div class="bill-to">
          <p>Billing address</p>
          <div id="billing_form">
          <div class="form-one">
              {% include "shop/snippets/theme_form.html" with form=billing_form %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 clearfix">
      <div class="bill-to">
        <div class="form-one">
                            {% csrf_token %}
            <input class="btn btn-primary" type="submit"/>

        </div>
    </div>
  </div>
</form>
    </div>


    <!-- <div class="review-payment">
      <h2>Review &amp; Payment</h2>
    </div> -->

     <!-- <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cart_product">
              <a href=""><img src="images/cart/one.png" alt=""></a>
            </td>
            <td class="cart_description">
              <h4><a href="">Colorblock Scuba</a></h4>
              <p>Web ID: 1089772</p>
            </td>
            <td class="cart_price">
              <p>$59</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$59</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>

          <tr>
            <td class="cart_product">
              <a href=""><img src="images/cart/two.png" alt=""></a>
            </td>
            <td class="cart_description">
              <h4><a href="">Colorblock Scuba</a></h4>
              <p>Web ID: 1089772</p>
            </td>
            <td class="cart_price">
              <p>$59</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$59</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>
          <tr>
            <td class="cart_product">
              <a href=""><img src="images/cart/three.png" alt=""></a>
            </td>
            <td class="cart_description">
              <h4><a href="">Colorblock Scuba</a></h4>
              <p>Web ID: 1089772</p>
            </td>
            <td class="cart_price">
              <p>$59</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$59</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>
          <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="2">
              <table class="table table-condensed total-result">
                <tr>
                  <td>Cart Sub Total</td>
                  <td>$59</td>
                </tr>
                <tr>
                  <td>Exo Tax</td>
                  <td>$2</td>
                </tr>
                <tr class="shipping-cost">
                  <td>Shipping Cost</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><span>$61</span></td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <!-- <div class="payment-options">
        <span>
          <label><input type="checkbox"> Direct Bank Transfer</label>
        </span>
        <span>
          <label><input type="checkbox"> Check Payment</label>
        </span>
        <span>
          <label><input type="checkbox"> Paypal</label>
        </span>
      </div> -->
  </div>
</section> <!--/#cart_items-->

{% endblock %}


{% block "scripts" %}
<script>
function checkbox_action(jquery_checkbox_obj){
  if(jquery_checkbox_obj.is(":checked")){
    $('#billing_form  :input[type=text]').prop('disabled', true);
    $('#billing_form  label').not("label[for="+jquery_checkbox_obj.id+"]").css({color:'#ccc'});
  }
  else{
    $('#billing_form  :input[type=text]').prop('disabled', false);
    $('#billing_form  label').css({color:'#333'});
  }
}

$( document ).ready(function() {
checkbox_action($( "#id_bform-same_as_shipping_address" ));
});

$( "#id_bform-same_as_shipping_address" ).click(function() {
  checkbox_action($(this));
});
</script>
<!-- <script src="{% static 'genshop/js/ajax_functions.js' %}"></script> -->
{% endblock %}
